  .item-style {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item-style > * {
    flex-basis: 50%;
    padding: 6px;
  }
  
  .border-items {
    border-left: 2px;
    border-right: 0;
    border-bottom: 2px;
    border-top: 0;
    border-style: solid;
  }
  
  .margin-menu {
    margin: 10px;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .div-home-styles {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  
  .div-contact-styles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  
  .div-contact-styles > * {
    grid-column: 2;
  }
  
  .margin-form-items > * {
    margin: 5px;
  }